html,
body,
#root {
  height: 100%;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("assets/infinity.svg") 50% 50% no-repeat ;
}

html {
  font-size: 16px;
}
@media(max-width: 1580px) {
html {
  font-size: 10px;
}
.unbehaved-element {
  font-size: 1.9em; /* Fine tune unbehaved elements */
}
}
@media(max-width: 980px) {
html {
  font-size: 8px;
}
}

h1,h2,h3,h4{
 
  text-align: center;
}

p{
  text-align: justify;
}

.App {
  text-align: center;
}

#main-logo {
  width: 80%;
}

.shadow-down {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 10px -5px;
}

.shadow-up {
  box-shadow: rgba(0, 0, 0, 0.2) 0px -10px 10px -5px;
}

.header{
  width:auto;
  height:25%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.header *{
  height: 100%;
  width: auto;
  max-width: 80%;
}

.small{
  height:15%;
}


.floatContainer{
  width:100%;
  overflow: hidden;
  z-index: 10;
}

.floating-up, .floating-down{
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 12px 0px;
  z-index: -1;
  width: 125px;
  height: auto;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.container {
  position: relative;
  width: 100%;
  z-index: 3;
  margin: auto;
}

.menu {
  width: 30%;
}

.card {
  padding: 2rem 0 2rem 0;
  border-bottom: 0.3rem solid transparent;
  transition: border-bottom 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card h4 {
  margin: 0;
}
.card:hover {
  border-bottom: 0.3rem solid #1d7ca7;
}
.card img {
  width: 40%;
}

.horizontal-spaced {
  display: flex;
  justify-content: space-around;
}

.vertical-spaced {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.panel {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.blue {
  background-color: #1d7ca7;
  color:white;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

#panel2, #panel4 {
  color: white;
}

.seperator{
  width:100%;
  padding:1em;
  color:white;
  text-align: center;
  position: relative;
  background-color: #19739C;
}
.seperator h3{
  margin:0;
  z-index: 10;
}

.sep::after{
  width:400px;
  height:50px;
  left:50%;
  transform: translateX(-50%);
  background-color: #1d7ca7;
  position:absolute;
  box-sizing: border-box;
  content:'';
  pointer-events: none;
  z-index: -1;
  bottom:-25px;
  border-radius: 0px 0px 15px 15px;
}
.bigScreen{
  display:None;
}

hr{
  border:2px dashed white;
  border-radius: 10px;
}

/* Larger than mobile screen */
@media (min-width: 40rem) {
  body{
    font-size:16px;
  }
  #main-logo {
    width: 70%;
  }
  .container {
    width: 70%;
  }
  .menu {
    width: 70%;
  }
  .card img {
    width: 30%;
  }
  .header{
    height:30%;
  }
  .small{
    height:20%;
  }
  .bigScreen{
    display:inline;
  }
  .floating-up, .floating-down{
    width:150px;
  }
}

/* Larger than tablet screen */
@media (min-width: 80rem) {
  #main-logo {
    width: 50%;
  }
  .container {
    width: 50%;
  }
  .menu {
    width: 50%;
  }
  .card img {
    width: 25%;
  }
  .floating-up, .floating-down{
    width:200px;
  }
}

/* Larger than desktop screen */
@media (min-width: 120rem) {
  #main-logo {
    width: 40%;
  }
  .container {
    width: 60%;
  }
  .menu {
    width: 60%;
  }
  .card img {
    width: 10%;
  }
  .header{
    height:35%;
  }
  .small{
    height:25%;
  }
  .floating-up, .floating-down{
    width:250px;
  }
}
