html, body,#root, .App{
  height:100%;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ffffff;
  height:100%;
  display:flex;
  align-content: center;
}

.App-link {
  color: #61dafb;
}

.background{
  position:absolute;
  width:100%;
  height:100%;
}

.panel{
  width:100%;
  height:100%;
}